<%= @question.questn.html_safe %>

<ol class="list-group">
  <% @question.options.each do |op| %>
    <li class="btn btn-outline-success mt-2 option" data-option="<%= op.id.to_s %>"><%= op.answer %></li>
  <% end %>
</ol>

<script type="text/javascript">
  var answer_url = "<%= answer_path %>";
  var question = "<%= @question.id.to_s %>";
  $(".option").click(function(){
    $.post(answer_url, 
      {
        question: question, 
        option: $(this).data("option")
      },
      function(data){
        startQuest();
      }
    );
  });
</script>
